body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    /* color: #fff; */
    /* font-family: 'Space Grotesk', sans-serif; */
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    /* background-color: #0a0a0a; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 130px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    background-color: #fff;
}

.mobile-header {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.logo2 {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.location {
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.menu ul li {
    list-style: none;
}


.desktop-header .menu ul li a {
    display: inline-block;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 550;
    text-decoration: none;
    color: red;
    text-transform: capitalize;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

 a:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}


 .mobile-header li:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.order-now {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    height: 48px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    background-color: #000;
    color: red;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.mobile-header .order-now:hover {
    background-color: #fff;
    color: red;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.order-now,
.cart {
    margin-top: 10px;
}

.section1 {
    padding-left: 40px;
    padding-top: 100px;
}

.head {
    padding-top: 160px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.welcome {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: lighter;
    color: red;
    line-height: 0;
}

.welcome span {
    font-weight: bold;
    text-transform: uppercase;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section1 h1 {
    font-size: 100px;
    color: red;
    font-family: sans-serif;
    line-height: 0.9;
    margin: 0;

}

.section1 p {
    color: red;
    font-family: sans-serif;
}

.delivery,
.pickup {
    border: none;
    border-radius: 10px;
    background-color: rgb(241, 19, 19);
    color: #fff;
    height: 115px;
    width: 170px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

.delivery-img,
.pickup-img,
.see-more-img,
.apple-img,
.sbutton-img,
.logo3 {
    filter: invert(1) brightness(2);
}

.button1 {
    display: flex;
    gap: 30px;
}

.h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-transform: capitalize;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px;
}

.underline {
    margin: auto;
    width: 90px;
    height: 7px;
    background-color: red;
    border-radius: 8px;

}

.section2 {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;


}

.food-section {
    display: block;
    border: 2px solid red;
    border-radius: 8px;
    background-color: red;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.food-section:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.foods {
    height: 180px;
    width: 300px;
}

.s2 {
    margin-top: -15px;
}

.see-more {
    border: none;
    border-radius: 10px;
    background-color: rgb(241, 19, 19);
    color: #fff;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

.see-more1 {
    display: flex;
    justify-content: center;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    background-color: red;
    margin: 100px 0;
    max-width: 100%;
}

.section3 .h1-2 {
    display: none;
}

.phone {
    height: 400px;
    width: 400px;
    margin: 0;
    padding: 0;
}

.phone1 {
    margin: 0;
    padding: 0;
}

.order1 {
    margin-top: 20px;
    padding: 0;
}

.order1 h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #fff;
}

.order1 p {
    color: #fff;
}

.playstore,
.apple {
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 170px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    display: flex;
    align-items: center;

}

.playstore:hover,
.apple:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.playstore-img,
.apple-img {
    margin-top: 15px;
    padding: 0;
}

.span2 {
    font-size: 20px;
}

.download {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 50px;

}

.shop {
    display: flex;
    justify-content: center;
}

.shop-img {
    height: 400px;
}

.section4 p {
    font-family: sans-serif;
}

.shop-button {
    border: none;
    border-radius: 10px;
    background-color: rgb(241, 19, 19);
    color: #fff;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

.section5-img {
    height: 400px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 12px;
}

.section5 {
    background-color: #ffb6c1;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.eat-section {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.eat-section:hover {
    transform: scale(1.05);
}

.section6 {
    background-color: #fcd3d9;
    padding: 40px;
}

.food2 {
    height: 200px;
    margin-left: 43%;
}

.first {
    text-align: center;
}

.section6 h1,
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.section6 h1 {
    font-size: 40px;

}

.email {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.email input {
    width: 700px;
    border-radius: 40px;
    height: 60px;
    border: none;
    outline: none;
    padding: 6px;
}

.subsribe {
    position: absolute;
    top: 8%;
    right: 27%;
    /* transform: translateY(-50%); */
    border: none;
    border-radius: 40px;
    background-color: rgb(241, 19, 19);
    color: #fff;
    height: 60px;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
}

footer {
    background-color: rgb(241, 19, 19);
    padding-top: 40px;
    /* padding-bottom: 20px; */
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;

}

.logo3 {
    height: 30px;
    cursor: pointer;
}

.igs {
    display: flex;
    gap: 10px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    line-height: 2;
}

.quick {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.submit {
    border: none;
    border-radius: 40px;
    background-color: #fff;
    color: rgb(241, 19, 19);
    height: 60px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.dear {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.mobile-header .menu-icon .line {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 5px;
}

.mobile-header .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}

.mobile-header .menu li {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-right: 50px;
}

.mobile-header .order-now {
    background-color: black;
}

.mobile-header .menu li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 550;
}

.mobile-header .menu {
    display: none;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0;
    background-color: red;
    /* width: 100%; */
    border-radius: 5px;
}

@media(max-width:768px) {

    .full-body {
        max-width: 100%;
    }

    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-header .nav1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .mobile-header .menu.active {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 100px;
        right: 0;
        gap: 10px;
    }

     .mobile-header .order-now1 {
        display: flex;
        justify-content: center;
    }

    .head {
        display: flex;
        flex-direction: column;
    }

    .download {
        display: flex;
        flex-direction: column;
    }

    .phone1 {
       margin-top: 150px; 
    }

    .section3 .h1-1 {
        display: none;
    }

    .section3 .h1-2 {
        display: flex;
        font-size: 65px;
    }

    .order1 {
        margin-right: 10px;
    }

    .section4 {
        display: flex;
        flex-direction: column;
    }

    .products {
        margin: auto;
    }

    .products p {
        font-size: 20px;
    }

    .food2 {
        margin: auto;
        display: flex;
    }

    .subsribe {
        right: 7px;
    }

}

@media(max-width:480px) {

    .full-body {
        max-width: 100%;
    }


    .desktop-header {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* gap: 150px; */
    }

    .menu-icon {
        margin: 0;
    }

    .logo {
        gap: 10px;
    }


    .menu {
        gap: 10px;
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
    }


    .mobile-header .menu.active {
        display: flex;
    }

    .mobile-header .order-now1 {
       margin-right: 10px;
    }


    .section1 h1 {
        font-size: 15vw !important;
    }


    .head {
        display: flex;
        flex-direction: column;
        padding-top: 70px;
    }

    .head h1 {
        font-size: 60px;
    }

    .head h3 {
        font-size: 20px;
    }

    .woman {
        width: 90%;
        margin-left: 30px;
    }

    .discover .h1 {
        font-size: 40px;
    }

    .order1 {
        margin-left: 30px;
    }

    .phone1 {
        margin: 0;
    }

    .phone {
        width: 300px;
    }

    .download {
        display: flex;
        flex-direction: row;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 40px;
    }

    .section3 .h1-2 {
        display: none;
    }


    .section3 .h1-1 {
        display: flex;
    }

    .email {
        display: none;
    }

.food-section 


    .section4 {
        display: flex;
        flex-direction: column;
    }

    .shop-img {
        width: 100%;
    }

    .food2 {
        margin: auto;
        display: flex;
    }

    .subsribe {
        left: 60%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .dear {
        width: 90%;
        margin-left: 30px;
    }
}